<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://unpkg.com/turretcss/dist/turretcss.min.css" crossorigin="anonymous">
  <title>Simple Feedreader</title>
</head>

<body>
  <header class="container max-width-l flex align-items-center padding-vertical-xs">
    <h1 class="no-margin-bottom display-contents"><small>Feedreader</small></h1>
    <nav class="nav-inline">
      <ul>
        <li><a href="/">Unread</a></li>
        <li><a href="starred.html">Starred</a></li>
        <li><a href="history.html">History</a></li>
        <li><a href="feeds.html">Feeds</a></li>
      </ul>
    </nav>
  </header>
  <main class="container max-width-l margin-bottom-l">
    {% block content %}{% endblock %}
  </main>
  <footer class="container max-width-l">
    A Simple Feedreader
  </footer>
  <script src="https://unpkg.com/htmx.org@1.6.1" integrity="sha384-tvG/2mnCFmGQzYC1Oh3qxQ7CkQ9kMzYjWZSNtrRZygHPDDqottzEJsqS4oUVodhW" crossorigin="anonymous"></script>
</body>
</html>