<div id="feed_list">
  {% for feed in feeds %}
  <article class="border padding-xs margin-bottom-s">
    <header>
      <hgroup>
        <h3 class="no-margin-bottom">{{ feed.name }}</a></h3>
        <p class="no-margin-top">{{ feed.site_url }} | {{ self::display_some(feed.last_fetched) }}</p>
      </hgroup>
    </header>
    <p class="flex">
      <a class="padding-right-xs" href="#">Refresh</a>
      <a class="padding-right-xs" href="#">Edit</a>
      <a class="padding-right-xs" href="#" hx-delete="/feeds/{{ feed.id }}" hx-target="#feed_list" hx-swap="outerHTML">Remove</a>
    </p>
  </article>
  {% endfor %}
</div>